<a href="https://colab.research.google.com/github/JimKing100/NFL-Live/blob/master/data-science/actuals/Actuals_Rookie_Offense.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the raw data
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/rookies_non_offense.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/offense.csv')
td_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/td.csv')
game_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/game.csv')

In [3]:
# The dataframe of all 2019 non-rookie offensive players and their rookie year
player_df.head()

    player first            last                name position1  start
0  TB-2300   Tom           Brady           Tom Brady        QB   2000
1  DB-3800  Drew           Brees          Drew Brees        QB   2001
2  JM-2900  Josh          McCown         Josh McCown        QB   2002
3  BR-1100   Ben  Roethlisberger  Ben Roethlisberger        QB   2004
4  EM-0200   Eli         Manning         Eli Manning        QB   2004

In [4]:
# The offense dataframe - raw offensive data for all 2019 QBs, RBs, WRs, TEs for seasons 2000-2019
offense_df.head()

    uid  gid  week   player   del first  ...    fp2    fp3 game  seas  year  team
0  3599  175    13  TB-2300  KEEP   Tom  ...   0.24   0.24    0     1  2000    NE
1  5841  284     2  TB-2300  KEEP   Tom  ...   2.74   2.74    0     2  2001    NE
2  6050  295     3  TB-2300  KEEP   Tom  ...   6.92   6.92    0     2  2001    NE
3  6330  308     4  TB-2300  KEEP   Tom  ...   0.34   2.34    0     2  2001    NE
4  6672  325     5  TB-2300  KEEP   Tom  ...  22.56  25.56    0     2  2001    NE

[5 rows x 36 columns]

In [5]:
# The touchdown dataframe - raw touchdown data for rushing, receiving and passing TD plays of 40 yards and greater.
td_df.head()

    pid      psr first_qb   last_qb  ...    first       last             name  type
0    75  CC-1400    Chris  Chandler  ...  Terance     Mathis   Terance Mathis   REC
1    98  CC-1400    Chris  Chandler  ...    Shawn  Jefferson  Shawn Jefferson   REC
2  1051  CM-2200     Cade    McNown  ...   Marcus   Robinson  Marcus Robinson   REC
3  1509  KC-2000    Kerry   Collins  ...     Tiki     Barber      Tiki Barber  RUSH
4  1819  TB-0200     Tony     Banks  ...    Qadry     Ismail     Qadry Ismail   REC

[5 rows x 19 columns]

In [6]:
# The game dataframe - raw game data to calculate bye weeks
game_df.head()

   gid  seas  wk  day    v  ...       surf    ou  sprv  ptsv  ptsh
0    1  2000   1  SUN   SF  ...  AstroTurf  42.5   7.0    28    36
1    2  2000   1  SUN  JAC  ...      Grass  38.0 -10.0    27     7
2    3  2000   1  SUN  PHI  ...  AstroTurf  40.0   6.0    41    14
3    4  2000   1  SUN  NYJ  ...      Grass  36.0   2.5    20    16
4    5  2000   1  SUN  IND  ...      Grass  44.0  -3.0    27    14

[5 rows x 17 columns]

In [0]:
# Pull the stats to calculate the player points
def pull_stats(df, df1, df2, col, p, y, g):

    # Fill empty values with NaN if prior to start year, else use zero
    if (df[col].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].empty):
        start_year = df1['start'].loc[(df1['player']==p)].iloc[0]
        if y < start_year:
            points = float('NaN')
        else:
            points = 0
    else:
        rush_tds = df['tdr'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        receive_tds = df['tdrec'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        pass_tds = df['tdp'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        return_tds = df['tdret'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0] 
        convs = df['conv'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        rush_yds = df['ry'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        receive_yds = df['recy'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        pass_yds = df['py'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        ints = df['ints'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        fumbles = df['fuml'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        rush_rec_td40 = df2['player'].loc[(df2['player']==p) & (df2['year']==y) & (df2['week']==g)].count()
        pass_td40 = df2['psr'].loc[(df2['name_qb']==p) & (df2['year']==y) & (df2['week']==g)].count()
        

        points = (rush_tds * 6) + \
                 (receive_tds * 6) + \
                 (pass_tds * 4) + \
                 (return_tds * 6) + \
                 (convs * 2) + \
                 (rush_yds / 10) + \
                 (receive_yds /10) + \
                 (pass_yds / 25) - \
                 (ints * 2) - \
                 (fumbles * 2) + \
                 (rush_rec_td40 * 2) + \
                 (pass_td40)

    return points

In [0]:
# Add a row to the final_df dataframe
# Each row represents the actual offensive points for each game for each offensive player
def add_row(df, p, f, l, n, pos, value_list):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position1': pos,
                    'game1': value_list[0], 
                    'game2': value_list[1],
                    'game3': value_list[2], 
                    'game4': value_list[3], 
                    'game5': value_list[4], 
                    'game6': value_list[5], 
                    'game7': value_list[6], 
                    'game8': value_list[7], 
                    'game9': value_list[8],
                    'game10': value_list[9],
                    'game11': value_list[10],
                    'game12': value_list[11],
                    'game13': value_list[12],
                    'game14': value_list[13],
                    'game15': value_list[14],
                    'game16': value_list[15]
                    }, ignore_index=True)
    
    return df

In [9]:
# The main code for iterating through the kicker list, calculating the points and adding the rows
# to the final_df dataframe.
column_names = ['player',
                'first',
                'last',
                'name',
                'position1', 
                'game1',
                'game2',
                'game3', 
                'game4', 
                'game5', 
                'game6', 
                'game7', 
                'game8', 
                'game9',
                'game10',
                'game11',
                'game12',
                'game13',
                'game14',
                'game15',
                'game16'
                ]

oplayers_df = player_df.loc[(player_df['position1'] == 'QB') |
                            (player_df['position1'] == 'RB') |
                            (player_df['position1'] == 'WR') |
                            (player_df['position1'] == 'TE')]

player_list = oplayers_df['player'].tolist()

final_df = pd.DataFrame(columns = column_names)

for player in player_list:

    first = player_df['first'].loc[(player_df['player']==player)].iloc[0]
    last = player_df['last'].loc[(player_df['player']==player)].iloc[0]
    name = player_df['name'].loc[(player_df['player']==player)].iloc[0]
    position1 = player_df['position1'].loc[(player_df['player']==player)].iloc[0]
    year = player_df['start'].loc[(player_df['player']==player)].iloc[0]

    print(player)

    # Check the player's team
    for s in range(1, 17):
        if offense_df['team'].loc[(offense_df['player']==player) & (offense_df['seas']==s)].empty:
            x = 0
        else:
            team = offense_df['team'].loc[(offense_df['player']==player) & (offense_df['seas']==s)].iloc[0]
            break
    new_team = team

    player_scores = []

 
    week = 0
    for game in range(1,17):
        week = week + 1

        # Check the player's team
        if (offense_df['team'].loc[(offense_df['player']==player) & (offense_df['year']==year) & (offense_df['week']==week)].empty):
            x = 0
        else:
            new_team = offense_df['team'].loc[(offense_df['player']==player) & (offense_df['year']==year) & (offense_df['week']==week)].iloc[0]
            
        if team != new_team:
            team = new_team

        # Handle the bye week
        if ((game_df['h'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty) &
            (game_df['v'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty)):
            week = week + 1
            score = pull_stats(offense_df, player_df, td_df, 'fp', player, year, week)
        else:
            score = pull_stats(offense_df, player_df, td_df, 'fp', player, year, week)

        player_scores.append(score)

    final_df = add_row(final_df, player, first, last, name, position1, player_scores)

TB-2300
DB-3800
JM-2900
BR-1100
EM-0200
MS-0200
PR-0300
AR-1300
RF-0500
MM-4700
JF-1900
MR-2500
BH-1900
CD-0300
MS-4100
CM-1500
AD-0100
CN-0500
TT-0500
AT-0160
CK-0250
KC-2350
NF-0250
RG-1850
RT-0150
RW-3850
MB-0450
MG-0850
RG-1885
AM-1150
BB-2425
DC-0725
GG-0310
JG-0650
TB-2650
BH-2300
JW-5650
MM-0912
SM-0425
TS-1450
BA-0375
CW-1425
DP-2037
JB-5725
JD-2850
JG-1850
DW-1725
MT-1800
NM-0687
PM-0025
TH-1625
BM-0650
JA-1087
JR-3250
KA-0737
LF-0025
LJ-0150
MR-2350
SD-0175
TB-2093
DS-3300
FG-0200
AP-0700
ML-2500
LM-1000
JD-1650
AS-0900
BP-1200
DL-1700
MI-0100
NB-0200
PD-0700
TJ-2400
AM-2850
BB-2250
JO-0550
CA-0750
CT-1220
GB-0350
KB-0350
KJ-1400
LB-0250
LM-1850
RB-4670
SW-0350
ZL-0200
CH-5000
DF-1875
DW-3125
JW-2550
KS-1450
RN-1250
SP-0850
AA-0025
DJ-1325
DJ-1850
JA-0450
JA-1025
MB-3862
MB-5175
MD-0150
MG-1150
RM-5050
TC-2050
TG-1950
TM-3150
TY-0150
ZZ-0100
AJ-0375
CH-0525
CP-2550
DB-2950
DF-1375
DH-2450
DV-0550
DW-1350
DW-1550
DW-1750
EE-0250
EP-0350
JF-1250
JH-5575
JR-2075
JW-4625
KD-1462
PB-0125
PP-0350
TC-0450
TE-0350
TP-1950
WS-0650
AA-0557
AE-0550
AJ-1143
AK-0050
BH-1225
CC-0750
CC-2350
CM-1225
DC-3550
DO-0025
JC-4075
JM-5275
JW-3650
KH-2850
LF-0650
MB-3537
MM-0050
PR-0125
RO-0550
SP-0825
TC-1975
TE-0025
TL-1037
WG-0050
BS-0825
BS-1450
CE-0175
DD-0681
DG-3200
DH-3137
DT-1992
DW-3243
GE-0150
GH-1162
IS-0250
JA-0275
JJ-0575
JK-0775
JS-0280
JW-3325
JW-4975
KB-0150
KJ-0587
MB-2950
MW-0650
NB-0125
NC-0175
NH-1237
PL-0275
RB-2350
RF-1400
RJ-2250
RM-2050
RN-0025
RP-0550
SB-0212
SM-2625
TC-0325
JW-6000
BW-0700
DW-0500
ML-1500
VD-0100
GO-0100
JC-4300
JG-2900
CC-2100
KR-1200
LK-0200
LS-1550
LS-1900
VG-0300
DC-0775
GC-0350
RE-0400
DF-0550
DH-1450
JD-2550
JH-4070
LT-0550
LW-1450
RG-1870
TE-0300
TK-0150
VM-0250
ZE-0100
CB-2775
CM-0175
EE-0050
LT-0275
SS-1525
TB-3950
XG-0100
BB-1550
BK-1050
CU-0150
CW-0225
DB-4387
DW-0675
ET-0375
GS-1400
JH-3625
JJ-0725
JO-0150
ML-0050
MP-2350
MW-2450
NB-0450
NO-0150
RT-1550
TK-0850
AH-3650
BB-2712
HH-0225
JH-5150
JP-2075
JV-0050
NV-0050
SD-0534
TH-1550
AA-0581
AF-0550
AS-0775
BJ-0950
CC-0775
DA-1650
DD-0075
DN-1225
EE-0400
ES-0250
GE-0400
GK-0075
JH-4850
JM-6775
JS-4550
JS-5475
MA-0487
OH-0250
PB-0725
RS-0687
RT-1250
SC-1850
TS-3662
CH-2950
DG-1287
DS-0850
DS-3137
DY-0075
HH-0350
IT-0150
JA-0462
JG-2687
JT-1775
MA-1050
MG-0325
RD-2300
RI-0500
TC-2375
TF-1500
TH-2875
WD-0550
LF-0200
TG-0900
DA-0900
DJ-0200
MS-2100
JE-0100
MC-2900
AB-3500
AR-1100
DT-0900
ES-0200
GT-0100
CH-3350
DH-1800
DI-0075
JJ-4700
RC-1500
AJ-0430
CB-1130
JB-2950
JG-2450
JW-6560
MJ-2250
MS-0150
TB-1060
TH-1850
AT-0350
CP-0750
DH-3950
JB-6750
KA-0650
KS-2350
MG-1050
RS-0975
RW-4050
TA-1050
AH-3900
AR-1250
AW-1650
BC-2325
BF-0950
CL-0275
DA-0212
DM-2775
DS-3187
DT-0850
JB-6950
JL-0215
JM-1550
ME-0600
ML-0650
OB-0075
PR-0150
QE-0100
RG-1650
SR-0750
SW-0450
TG-0025
TJ-2350
WS-0925
AC-2350
AH-3862
BP-0450
CC-3950
DB-6375
DC-1050
DF-2200
DJ-0850
DP-0350
DS-3031
DW-2350
GD-0050
JC-5680
JH-1350
JK-2250
JN-0625
NA-0050
PD-0800
SD-0537
TL-1025
TW-2875
AE-1037
CC-4450
CM-2675
CR-1525
DR-2225
DW-2850
GA-0250
JG-2950
JH-5125
JM-3475
JM-4175
KR-0312
LT-0862
MH-0225
MJ-1450
MT-0875
MT-0887
PC-0625
RA-1125
RH-1950
SS-1250
TB-2075
TD-0737
TH-1750
TJ-2650
TS-1262
WF-0300
AC-0387
AP-0388
BW-2475
CB-1750
CD-0975
CG-1425
CG-2162
CH-3775
CK-1300
CS-0050
CW-2450
DM-3050
DW-2275
FB-0750
GW-0250
IF-0175
IM-0125
JN-0350
JR-1950
JR-3280
JS-4750
KB-1625
KC-1550
KG-0650
KH-2075
MH-3050
MW-2825
RD-0150
RD-0450
RS-3525
TP-0675
TT-0150
ZJ-0100
ZP-0050
AC-0237
AL-0387
AM-1975
AT-0247
BB-1950
BP-1375
BZ-0100
CB-1152
CB-1650
CK-0825
CL-0125
CM-1650
CR-0862
CS-1925
CS-4462
CW-3250
DB-5912
DC-0025
DC-1418
DH-1050
DM-2850
DP-1263
DR-0550
DS-0875
JS-1350
JW-0934
JW-1050
JW-5475
KC-2375
KH-2025
MA-1287
MG-0175
MT-2350
MV-0012
RF-1075
RG-0012
RG-0025
RJ-0450
SM-2825
TQ-0100
TS-1425
TS-2425
VS-0175

In [10]:
final_df.head(50)

     player     first            last  ... game14 game15 game16
0   TB-2300       Tom           Brady  ...      0      0      0
1   DB-3800      Drew           Brees  ...      0      0      0
2   JM-2900      Josh          McCown  ...      0      0  -1.16
3   BR-1100       Ben  Roethlisberger  ...  12.54  15.94      0
4   EM-0200       Eli         Manning  ...  15.08   6.04  15.76
5   MS-0200      Matt          Schaub  ...      0   5.62   8.02
6   PR-0300    Philip          Rivers  ...      0      0   5.22
7   AR-1300     Aaron         Rodgers  ...   -2.6      0   -0.1
8   RF-0500      Ryan     Fitzpatrick  ...   5.06      0      0
9   MM-4700      Matt           Moore  ...   8.82   9.28  12.96
10  JF-1900       Joe          Flacco  ...    1.1   8.36  11.88
11  MR-2500      Matt            Ryan  ...   6.14   9.56    6.3
12  BH-1900     Brian           Hoyer  ...      0      0   3.84
13  CD-0300     Chase          Daniel  ...      0      0      0
14  MS-4100   Matthew        Stafford  ...      0      0      0
15  CM-1500      Colt           McCoy  ...  17.72   2.96   8.26
16  AD-0100      Andy          Dalton  ...   4.96  18.96  10.98
17  CN-0500       Cam          Newton  ...  19.46  33.34  11.52
18  TT-0500     Tyrod          Taylor  ...   0.72      0      0
19  AT-0160      Alex          Tanney  ...      0      0      0
20  CK-0250      Case          Keenum  ...      0      0      0
21  KC-2350      Kirk         Cousins  ...  21.36      0      0
22  NF-0250      Nick           Foles  ...    7.7   14.8      0
23  RG-1850    Robert         Griffin  ...      0  14.32   16.3
24  RT-0150      Ryan       Tannehill  ...     22   17.6    6.2
25  RW-3850   Russell          Wilson  ...   39.4  23.74   25.8
26  MB-0450      Matt         Barkley  ...      0      0      0
27  MG-0850      Mike         Glennon  ...  13.16   4.62  14.76
28  RG-1885      Ryan         Griffin  ...      0      0      0
29  AM-1150      A.J.        McCarron  ...      0      0      0
30  BB-2425     Blake         Bortles  ...    6.6   13.6  10.78
31  DC-0725     Derek            Carr  ...  10.88  16.56   6.92
32  GG-0310   Garrett         Gilbert  ...      0      0      0
33  JG-0650     Jimmy       Garoppolo  ...      0      0    5.2
34  TB-2650     Teddy     Bridgewater  ...   15.6  17.66   8.16
35  BH-2300     Brett         Hundley  ...      0      0      0
36  JW-5650    Jameis         Winston  ...  19.02   18.8   16.4
37  MM-0912    Marcus         Mariota  ...  -0.72      0      0
38  SM-0425      Sean         Mannion  ...      0      0      0
39  TS-1450    Trevor         Siemian  ...   -0.1      0      0
40  BA-0375   Brandon           Allen  ...      0      0      0
41  CW-1425    Carson           Wentz  ...   11.6  10.78   19.1
42  DP-2037       Dak        Prescott  ...  19.16  23.98   2.38
43  JB-5725    Jacoby        Brissett  ...      0      0      0
44  JD-2850      Jeff         Driskel  ...      0      0      0
45  JG-1850     Jared            Goff  ...    5.4      4    4.8
46  DW-1725   Deshaun          Watson  ...      0      0      0
47  MT-1800  Mitchell        Trubisky  ...  10.86  18.12   7.32
48  NM-0687      Nick         Mullens  ...      0      0      0
49  PM-0025   Patrick         Mahomes  ...      0      0  10.36

[50 rows x 21 columns]

In [0]:
# Save the results to .csv file
final_df.to_csv('/content/actuals_rookie_offense.csv', index=False)