<a href="https://colab.research.google.com/github/JimKing100/NFL-Live/blob/master/data-science/actuals/Actuals_Rookie_2019_Offense.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd

In [0]:
# Load the raw data
player_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/rookies.csv')
offense_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/offense.csv')
td_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/td.csv')
game_df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/NFL-Live/master/data-science/data/raw/game.csv')

In [3]:
# The dataframe of all 2019 rookie offensive players
player_df.head()

    player   first        last              name position1  start
0  MG-0306    Matt         Gay          Matt Gay         K   2019
1  CM-2137   Chase  McLaughlin  Chase McLaughlin         K   2019
2  AS-0575  Austin     Seibert    Austin Seibert         K   2019
3  JS-3825    Joey        Slye         Joey Slye         K   2019
4  DB-2750   David      Blough      David Blough        QB   2019

In [4]:
# The offense dataframe - raw offensive data for all 2019 QBs, RBs, WRs, TEs for seasons 2000-2019
offense_df.head()

    uid  gid  week   player   del first  ...    fp2    fp3 game  seas  year  team
0  3599  175    13  TB-2300  KEEP   Tom  ...   0.24   0.24    0     1  2000    NE
1  5841  284     2  TB-2300  KEEP   Tom  ...   2.74   2.74    0     2  2001    NE
2  6050  295     3  TB-2300  KEEP   Tom  ...   6.92   6.92    0     2  2001    NE
3  6330  308     4  TB-2300  KEEP   Tom  ...   0.34   2.34    0     2  2001    NE
4  6672  325     5  TB-2300  KEEP   Tom  ...  22.56  25.56    0     2  2001    NE

[5 rows x 36 columns]

In [5]:
# The touchdown dataframe - raw touchdown data for rushing, receiving and passing TD plays of 40 yards and greater.
td_df.head()

    pid      psr first_qb   last_qb  ...    first       last             name  type
0    75  CC-1400    Chris  Chandler  ...  Terance     Mathis   Terance Mathis   REC
1    98  CC-1400    Chris  Chandler  ...    Shawn  Jefferson  Shawn Jefferson   REC
2  1051  CM-2200     Cade    McNown  ...   Marcus   Robinson  Marcus Robinson   REC
3  1509  KC-2000    Kerry   Collins  ...     Tiki     Barber      Tiki Barber  RUSH
4  1819  TB-0200     Tony     Banks  ...    Qadry     Ismail     Qadry Ismail   REC

[5 rows x 19 columns]

In [6]:
# The game dataframe - raw game data to calculate bye weeks
game_df.head()

   gid  seas  wk  day    v  ...       surf    ou  sprv  ptsv  ptsh
0    1  2000   1  SUN   SF  ...  AstroTurf  42.5   7.0    28    36
1    2  2000   1  SUN  JAC  ...      Grass  38.0 -10.0    27     7
2    3  2000   1  SUN  PHI  ...  AstroTurf  40.0   6.0    41    14
3    4  2000   1  SUN  NYJ  ...      Grass  36.0   2.5    20    16
4    5  2000   1  SUN  IND  ...      Grass  44.0  -3.0    27    14

[5 rows x 17 columns]

In [0]:
# Pull the stats to calculate the player points
def pull_stats(df, df1, df2, col, p, y, g):

    # Fill the missing values with NaN prior to start year, else use zero
    if (df[col].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].empty):
        start_year = df1['start'].loc[(df1['player']==p)].iloc[0]
        if y < start_year:
            points = float('NaN')
        else:
            points = 0
    else:
        rush_tds = df['tdr'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        receive_tds = df['tdrec'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        pass_tds = df['tdp'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        return_tds = df['tdret'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0] 
        convs = df['conv'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        rush_yds = df['ry'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        receive_yds = df['recy'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        pass_yds = df['py'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        ints = df['ints'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        fumbles = df['fuml'].loc[(df['player']==p) & (df['year']==y) & (df['week']==g)].iloc[0]
        rush_rec_td40 = df2['player'].loc[(df2['player']==p) & (df2['year']==y) & (df2['week']==g)].count()
        pass_td40 = df2['psr'].loc[(df2['psr']==p) & (df2['year']==y) & (df2['week']==g)].count()
        

        points = (rush_tds * 6) + \
                 (receive_tds * 6) + \
                 (pass_tds * 4) + \
                 (return_tds * 6) + \
                 (convs * 2) + \
                 (rush_yds / 10) + \
                 (receive_yds /10) + \
                 (pass_yds / 25) - \
                 (ints * 2) - \
                 (fumbles * 2) + \
                 (rush_rec_td40 * 2) + \
                 (pass_td40)

    return points

In [0]:
# Add a row to the final_df dataframe
# Each row represents the actual offensive points for each game for each offensive player
def add_row(df, p, f, l, n, pos, value_list):

    df = df.append({'player': p,
                    'first': f,
                    'last': l,
                    'name': n,
                    'position1': pos,
                    'game1': value_list[0], 
                    'game2': value_list[1],
                    'game3': value_list[2], 
                    'game4': value_list[3], 
                    'game5': value_list[4], 
                    'game6': value_list[5], 
                    'game7': value_list[6], 
                    'game8': value_list[7], 
                    'game9': value_list[8],
                    'game10': value_list[9],
                    'game11': value_list[10],
                    'game12': value_list[11],
                    'game13': value_list[12],
                    'game14': value_list[13],
                    'game15': value_list[14],
                    'game16': value_list[15]
                    }, ignore_index=True)
    
    return df

In [9]:
# The main code for iterating through the kicker list, calculating the points and adding the rows
# to the final_df dataframe.
column_names = ['player',
                'first',
                'last',
                'name',
                'position1', 
                'game1',
                'game2',
                'game3', 
                'game4', 
                'game5', 
                'game6', 
                'game7', 
                'game8', 
                'game9',
                'game10',
                'game11',
                'game12',
                'game13',
                'game14',
                'game15',
                'game16'
                ]

oplayers_df = player_df.loc[(player_df['position1'] == 'QB') |
                            (player_df['position1'] == 'RB') |
                            (player_df['position1'] == 'WR') |
                            (player_df['position1'] == 'TE')]
player_list = oplayers_df['player'].tolist()

final_df = pd.DataFrame(columns = column_names)

for player in player_list:

    first = player_df['first'].loc[(player_df['player']==player)].iloc[0]
    last = player_df['last'].loc[(player_df['player']==player)].iloc[0]
    name = player_df['name'].loc[(player_df['player']==player)].iloc[0]
    position1 = player_df['position1'].loc[(player_df['player']==player)].iloc[0]
    year = player_df['start'].loc[(player_df['player']==player)].iloc[0]

    print(player)

    # Check the player's team
    for s in range(1, 17):
        if offense_df['team'].loc[(offense_df['player']==player) & (offense_df['seas']==s)].empty:
            x = 0
        else:
            team = offense_df['team'].loc[(offense_df['player']==player) & (offense_df['seas']==s)].iloc[0]
            break
    new_team = team

    player_scores = []

 
    week = 0
    for game in range(1,17):
        week = week + 1

        # Get the current team
        if (offense_df['team'].loc[(offense_df['player']==player) & (offense_df['year']==year) & (offense_df['week']==week)].empty):
            x = 0
        else:
            new_team = offense_df['team'].loc[(offense_df['player']==player) & (offense_df['year']==year) & (offense_df['week']==week)].iloc[0]
            
        if team != new_team:
            team = new_team

        # handle the bye week
        if ((game_df['h'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty) &
            (game_df['v'].loc[(game_df['seas']==year) & (game_df['wk']==week) & ((game_df['v']==team) | (game_df['h']==team))].empty)):
            week = week + 1
            score = pull_stats(offense_df, player_df, td_df, 'fp', player, year, week)
        else:
            score = pull_stats(offense_df, player_df, td_df, 'fp', player, year, week)

        player_scores.append(score)

    final_df = add_row(final_df, player, first, last, name, position1, player_scores)

DB-2750
DH-1912
DH-3450
DJ-2275
DL-1787
GM-1350
JS-6787
KM-3500
RF-0450
TM-2362
WG-0750
AB-1125
AI-0050
AM-0825
BS-2950
CG-1015
DH-1362
DH-2325
DJ-0887
DM-2787
DO-0600
DS-2177
DT-1231
DW-3906
JH-4085
JH-4250
JJ-0587
JJ-2518
JS-0825
KB-1225
KW-0922
MG-0293
MS-0125
PL-0012
QO-0200
RA-1337
TB-2775
TH-2337
TJ-2275
TP-1650
TW-1325
WH-0762
CJ-2075
DK-0950
DS-0050
FM-0675
HH-0237
IN-0050
IS-0275
JH-5350
JO-0562
JS-6325
KS-1375
NF-0175
SC-0175
TH-1875
TS-3656
ZG-0012
AB-3150
AD-1587
AH-3450
AI-0100
DH-1487
DJ-1675
DM-2275
DS-0150
DS-1862
DS-2275
DW-3987
GD-0450
GO-0150
HR-0062
IH-0200
JA-1975
JG-4200
JM-4162
JM-5750
JS-4212
JU-0400
JW-5637
KD-1456
KH-0525
KJ-0537
LH-1950
MB-3325
MB-4075
MH-0875
MW-0350
NH-0825
NW-0325
OJ-0050
OZ-0100
PC-0050
PW-1150
RR-0650
SM-2653
SM-3250
SS-0650
SS-1537
TF-1450
TM-2275
VB-0325

In [10]:
final_df.head(50)

     player      first          last  ... game14 game15 game16
0   DB-2750      David        Blough  ...   8.30   8.68  11.88
1   DH-1912     Dwayne       Haskins  ...  20.04  14.32   0.00
2   DH-3450     Devlin        Hodges  ...   4.48  -0.64   1.70
3   DJ-2275     Daniel         Jones  ...   0.00  35.28  14.64
4   DL-1787       Drew          Lock  ...   6.62  12.68  11.98
5   GM-1350    Gardner       Minshew  ...  18.74  15.84  24.50
6   JS-6787    Jarrett       Stidham  ...   0.00   0.00   0.00
7   KM-3500      Kyler        Murray  ...  16.36  12.72  13.00
8   RF-0450       Ryan        Finley  ...   0.00   0.00   0.00
9   TM-2362      Trace      McSorley  ...   0.00   0.00   0.10
10  WG-0750       Will         Grier  ...   0.00   4.66  -3.34
11  AB-1125     Andrew          Beck  ...   1.30   0.64   6.80
12  AI-0050       Alec        Ingold  ...   2.20   0.00   0.00
13  AM-0825  Alexander      Mattison  ...   0.00   0.00   0.00
14  BS-2950      Benny     Snell Jr.  ...   0.10   1.40  15.10
15  CG-1015     Cullen     Gillaspia  ...   0.00   0.00   0.00
16  DH-1362     Damien        Harris  ...   0.00   0.00   0.00
17  DH-2325    Darrell     Henderson  ...   0.00   0.70   0.00
18  DJ-0887   D'Ernest       Johnson  ...   0.00   0.00   0.00
19  DM-2787      David    Montgomery  ...   4.90   5.90  17.30
20  DO-0600     Devine        Ozigbo  ...   0.00   0.00   5.00
21  DS-2177      Devin    Singletary  ...   6.90   4.80   0.00
22  DT-1231     Darwin      Thompson  ...   3.90   1.40   1.30
23  DW-3906     Dexter      Williams  ...   0.00   0.00   0.90
24  JH-4085    Justice          Hill  ...   1.50  11.10  10.90
25  JH-4250   Jonathan      Hilliman  ...   0.00   0.00   0.00
26  JJ-0587       Josh        Jacobs  ...  10.90   0.00   0.00
27  JJ-2518      Jakob       Johnson  ...   0.00   0.00   0.00
28  JS-0825     Jordan      Scarlett  ...   0.00   0.00   0.00
29  KB-1225      Khari    Blasingame  ...   0.00   0.00   0.70
30  KW-0922    Kerrith     Whyte Jr.  ...   0.50   2.20   0.10
31  MG-0293      Myles        Gaskin  ...   7.20  11.80   0.00
32  MS-0125      Miles       Sanders  ...  29.20  21.60   5.10
33  PL-0012    Patrick         Laird  ...   5.40   1.80   6.90
34  QO-0200     Qadree       Ollison  ...   6.10   6.30   0.90
35  RA-1337    Ryquell      Armstead  ...   0.10   0.20  14.50
36  TB-2775       Tony  Brooks-James  ...   0.00   0.00   0.00
37  TH-2337     Travis         Homer  ...   0.70   4.20   9.20
38  TJ-2275         Ty       Johnson  ...   0.00   2.00   6.50
39  TP-1650       Tony       Pollard  ...  22.30  -2.00   6.50
40  TW-1325     Trevon         Wesco  ...   0.00   3.20   0.00
41  WH-0762        Wes         Hills  ...  14.20   0.00   0.00
42  CJ-2075    Charles         Jones  ...   0.00   0.00   0.50
43  DK-0950     Dawson          Knox  ...   1.10   3.30   0.00
44  DS-0050       Drew        Sample  ...   0.00   0.00   0.00
45  FM-0675     Foster        Moreau  ...   0.00   0.00   0.00
46  HH-0237       Hale       Hentges  ...   0.00   8.80   6.20
47  IN-0050      Isaac         Nauta  ...   1.00   0.00   0.00
48  IS-0275        Irv     Smith Jr.  ...   6.80   0.40   1.10
49  JH-5350     Jesper       Horsted  ...  -1.10   2.00   0.00

[50 rows x 21 columns]

In [0]:
# Save the results to .csv file
final_df.to_csv('/content/actuals_rookie2019_offense.csv', index=False)